@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <p>Log in to see all tweets :)</p>
    return;
}

<div class="row">
    <div class="col-xs-12">
        <h2>Send tweet to the world:</h2>
        <section>
            <textarea class="form-control js-tweet-content" rows="3" cols="5"></textarea>
            <button class="btn btn-primary js-post-tweet">Send!</button>
        </section>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".js-post-tweet").click(function (e) {
                var button = $(e.target);
                var tweetContent = $.trim($(".js-tweet-content").val());

                var ajaxData = {
                    Content: tweetContent
                };

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/api/tweet",
                    data: JSON.stringify(ajaxData),
                    success: function (response) {
                        alert("success")
                    }
                });
            });
        });
    </script>
}